#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* ========== CARD =========== */
.card {
  padding: 1em;
  text-align: center;
}
.card__title {
  margin-bottom: 2em;
}
.card__info {
  display: flex;
  column-gap: 3em;
}
.read-the-docs {
  color: #888;
}